/* Estilização do layout principal */

.container {
	max-width: 1920px;
	min-height: 100vh;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
}

.header,
.footer {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--secondary-color);
}

/* HEADER */

.header {
	padding: 1.5rem;
}

.header__nav {
	display: flex;
	gap: 1rem;
}

/* BODY */

.container > main {
	flex: 1;

	background-color: var(--main-color);
}

/* FOOTER */

.footer {
	padding: 0.6rem 1.5rem;
}

.footer span {
	font-size: var(--font-size-default);
	color: var(--text-color);
}

.footer__links {
	display: flex;
	gap: 2rem;
}

.footer__links a {
	color: var(--text-color);

	transition: transform 0.3s ease-in-out;
}

.footer__links a:hover {
	transform: scale(1.25) translateY(-5px);
}

/* Componentes gerais */

.title {
	padding: 0.4rem 0;
	border-bottom: 1px solid rgba(5, 5, 5, 0.8);

	text-align: center;
	letter-spacing: 2px;
}

.logo {
	width: 13rem;
}

.btn {
	border: none;
	border-radius: 1rem;

	font-size: var(--font-size-default);
	color: var(--text-color);

	cursor: pointer;
	transition:
		background-color 0.3s linear,
		color 0.3s linear;
}

.btn__large {
	padding: 0.8rem 2rem;
}

.btn__small {
	padding: 0.8rem 1.2rem;
}

.btn__primary {
	background-color: var(--main-color);
}

.btn__primary:hover {
	background-color: var(--main-color-hover);
}

.btn__secondary {
	background-color: var(--secondary-color);
}

.btn__secondary:hover {
	background-color: var(--secondary-color-hover);
	color: var(--secondary-text-color);
}

.btn__tertiary {
	background: none;
}

.btn__tertiary:hover {
	text-decoration: underline;
}
